<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>subsshare/{{username}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <style>
        body {
            margin: 0px;
        }

        button:hover {
            background-image: linear-gradient(rgb(0 0 0/10%) 0 0);
        }

        #header {
            padding: 0 20px;
            background-color: whitesmoke;
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            position: sticky;
            top: 0;
        }

        #user-header {
            align-self: center;

        }

        #content {
            backgroundcolor: aqua;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            padding: 0 20px;
            margin-top: 50px;
            gap: 25px;
            overflow: scroll;

        }

        #banner {
            
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            background-color: lightpink;
            padding: 20px;
            margin: 20px;
            border-radius: 7px;
            border-width: 2px;
            border-style: solid;
        }

        #revoke-permission {
            background-color: coral;
            padding: 10px;
            border: none;
            border-radius: 5px;
        }

        .card {
            box-sizing: border-box;
            width: 100%;
            max-width: 600px;
            height: min-content;
            border-radius: 10px;
            padding: 20px;
            background-color: hsl(37, 67%, 92%);
            border: 1px solid hsl(39, 90%, 80%);

            display: flex;

        }

        .channel-logo {
            box-sizing: border-box;
            flex-grow: 0;
            width: 12%;
            min-width: 60px;
            max-width: 120px;
            height: min-content;
            aspect-ratio: 1 / 1;
            border-radius: 50%;
        }

        .channel-info {
            box-sizing: border-box;
            padding: 0em 0.6em;
            backgroundcolor: blue;
            overflow: hidden;
        }

        .channel-name {
            height: 1.5em;
            font-weight: bold;
            color: rgb(54, 54, 43);
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .channel-description {
            line-height: 1em;
            height: 4em;
            
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;
            line-clamp: 4;
            /* https://hackingui.com/a-pure-css-solution-for-multiline-text-truncation/ */
        }

        .card a {
            color: inherit;
            text-decoration: inherit;
        }

        #footer {
            background-color: black;
            color: white;
            text-align: center;
            margin-top: 20px;
            padding: 20px;
        }
    </style>
</head>

<body>
    <section id="header">
        <a href="/"><img id="logo-header" src="/static/logo.svg" width="70px" height="70px"></a>
        <div id="user-header"><strong id="title-header">subsshare/</strong><em id="username-header">{{username}}</em>
        </div>
    </section>
    <section id="banner" style="display:{% if signout_banner %}flex{% else %}none{% endif %};">
        <p>To sign out from our service, you can visit google-third-party permissions(below button), and revoke the permisions you provided to <em>subsshare</em>. We would still have your name and email stored with us, but we don't store any of your personal data on our servers.</p>
        <button id="revoke-permission" onclick='location.href="https:\/\/myaccount.google.com/connections"'><i class="fa-solid fa-up-right-from-square"></i>&nbsp;Revoke permission and Signout</button>
    </section>
    <section id="content">
    {% for channel in response['items'] %}
        <div class="card">
            <a href="https://youtube.com/channel/{{channel.snippet.resourceId.channelId}}">
                <img class="channel-logo" src="{{channel.snippet.thumbnails.default.url}}">
            </a>
            <div class="channel-info">
                <a href="https://youtube.com/channel/{{channel.snippet.resourceId.channelId}}">
                    <div class="channel-name">{{channel.snippet.title}}</div>
                </a>
                <div class="channel-description">{{channel.snippet.description}}</div>
            </div>
        </div>
    {% endfor %}

    </section>
        <div id="footer">Copyright: Dynamic Challengers 2023</div>
</body>


</html>